.catalog-container {
    margin-top: 9px;
}

.product-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 0;
    grid-row-gap: 16px;
}

.grid-item {
    width: 250px;
    height: 162px;
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    position: relative;
}

.name-and-price-container {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0px 5px 0px 5px;
}

.name-container {
    flex: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px 5px;
}

.name-text {
    white-space: nowrap;
    font-size: 14px;
    color: black;
}

.product-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 80%;
}
