.checkout-box {
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 10px;
    @include media-breakpoint-between(xs, md) {
        margin-top: 20px;
    }
}

.checkout-btn {
    @extend .btn-primary;
    width: 100%;
}

.cart-item {
    height: 75px;
    display: flex;
}

.cart-item-image {
    width: 76px;
    height: 76px;
    object-fit: contain;
}

.cart-item-image-col {
    width: 130px;
}

.cart-item-main-col {
    width: 100%;
}

.cart-item-delete-col {
    width: 50px;
}

.cart-item-main-box {
    height: 100%;
}

.cart-item-name {
    height: 50%;
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    display: flex;
    color: #000;
    @include media-breakpoint-between(xs, md) {
        /*         white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; */
    }
}

.cart-item-price {
    font-weight: 500;
    color: black;
    margin-left: 20px;
    font-size: 18px;
    text-align: left;
    margin-top: -1px;
}

.cart-item-old-price {
    font-weight: 400;
    font-size: 16px;
    opacity: 0.5;
}

.cart-item-old-price::before {
    background: black;
    opacity: 1;
    content: "";
    width: 110%;
    height: 1px;
    border-radius: 0.1em;
    left: -5%;
    white-space: nowrap;
    display: block;
    transform: rotate(-15deg);
    position: relative;
    top: 44%;
}

.cart-item-counter-text {
    margin-left: 10px;
    margin-right: 10px;
}

.cart-error-text {
    color: red;
}

.cart-discount-text {
    opacity: 0.7;
    font-weight: 400;
}

.space-cat-in-box-img {
    margin-top: 150px;
    @include media-breakpoint-between(xs, md) {
        margin-top: 60px;
    }
}

.box p {
    @include media-breakpoint-between(xs, md) {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
