.catalog-container {
    margin-top: 4px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-column-gap: 16px;
    grid-row-gap: 16px;

    @include media-breakpoint-between(xs, md) {
        grid-template-columns: repeat(2, 48%);
        grid-template-rows: repeat(2, 1fr);
        margin-top: 15px;
    }
}

.grid-item {
    height: 162px;
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.carousel-container {
    height: calc(162px +  /* высота grid-item */
                 0.5rem + /* padding снизу */
                 0.5rem   /* padding сверху */
                 );
}

.grid-item-sale::before {
    width: 150px;
    height: 17px;
    line-height: 16px;
    transform: rotate(-45deg);
    text-align: center;
    position: absolute;
    background: #dc3333;
    top: 16px;
    left: -48px;
    color: white;
    font-size: 0.75rem;
    letter-spacing: 1px;
    content: "sale";
}

.name-and-price-container {
    padding: 0px 5px 0px 5px;
}

.name-container {
    flex: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px 5px;
}

.name-text {
    white-space: nowrap;
    font-size: 0.875rem;
    color: black;
}

.product-image {
    background-repeat: no-repeat;
    background-size: contain;
    flex: auto;
    background-position: center;
    display: inline-block;
    margin: 5px;
}
